Support BigFloat

<a href="https://github.com/fredfortier"><img src="https://avatars.githubusercontent.com/u/1474114?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [fredfortier](https://github.com/fredfortier)**
_Sat Jul 24 16:11:52 2021_

----

I just learned about this project after I asked the same question on `serde_cbor`. RFC 8949 section 3.4.4 specifies BigFloat. What do you think of implementing this using `rust-decimal`? If not, since this crate does support BigNum via `i128`, can I use `serde(with = "")` with this crate to scale/unstable them myself?


<a href="https://github.com/npmccallum"><img src="https://avatars.githubusercontent.com/u/288304?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [npmccallum](https://github.com/npmccallum)**
_Sun Jul 25 15:31:21 2021_

----

I would accept a patch to implement this.
